---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%Y-%m-%d" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="{{ '/' | relative_url }}">
        <img class="avatar" src="{{ 'assets/images/avatar.png' | relative_url }}">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>
</footer>




